<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create new campground</title>
</head>

<body>
  <h1>New Campground</h1>
  <form action="/campgrounds" method="POST">
    <table>
      <tr>
        <td><label for="title">Title</label></td>
        <td><input type="text" name="title" id="title"></td>
      </tr>
      <tr>
        <td><label for="price">Price</label></td>
        <td><input type="text" name="price" id="price"></td>
      </tr>
      <tr>
        <td><label for="description">Desccription</label></td>
        <td><input type="text" name="description" id="description"></td>
      </tr>
      <tr>
        <td><label for="location">Location</label></td>
        <td><input type="text" name="location" id="location"></td>
      </tr>
    </table>
    <button type="submit">create</button>
  </form>
  <br><br>
  <a href="/campgrounds">home</a>
</body>

</html>